@model int
@{
    ViewData["Title"] = "Delete3DPrinters";
}

<h2>Are you sure to delete?</h2>
<a href="/ThreeDPrinters/All3DPrinters" class="btn btn-default">Back</a>
<a href="/ThreeDPrinters/Delete3DPrinter/@Model" class="btn btn-danger">Confirm Delete</a>