@model int
@{
    ViewData["Title"] = "Delete3DFilamets";
}

<h2>Are you sure to delete?</h2>
<a href="/ThreeDFilaments/All3DFilaments" class="btn btn-default">Back</a>
<a href="/ThreeDFilaments/Delete3DFilament/@Model" class="btn btn-danger">Confirm Delete</a>