@{
    ViewData["Title"] = "About";
}
<h2>About us</h2>

<span class="col-md-12">
    <img src="https://s3-us-west-1.amazonaws.com/cubify/website/resources/images/cube/cube3_banner_videos_b.jpg" width="600" class="img-responsive" />
</span>
&emsp;
<span>
    <p>Our company specializes trading 3D printers, 3D Scanners and printing materials. We owns professional technical team.</p>
    <p>Our expertly integrated solutions replace and complement traditional methods. They reduce the time and cost of designing new products by printing real parts directly from digital input. These solutions are used to rapidly design, create, communicate, prototype or produce real parts, empowering customers to manufacture the future. We always insist on the faith of "Good quality, Honest Service, Good Communication" to meet the market needs. Up to today, all our products sell well in the international market.</p>
</span>