@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<span class="col-md-12">
    <img src="https://www.freewebheaders.com/wordpress/wp-content/gallery/business-buildings/looking-up-blue-sky-tall-commercial-buildings-web-header.png" class="img-responsive" />
</span>
&emsp;

<address>
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
