@model int
@{
    ViewData["Title"] = "Delete 3D Pens";
}

<h2>Are you sure to delete?</h2>
<a href="/ThreeDPens/All3DPens" class="btn btn-default">Back</a>
<a href="/ThreeDPens/Delete3DPen/@Model" class="btn btn-danger">Confirm Delete</a>