@model ThreeDScannerViewModel
@{
    ViewData["Title"] = "AddThreeDScanner";
}

<h2>Add 3D Scanner</h2>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Make"></label>
                <input asp-for="Make" class="form-control" />
                <span asp-validation-for="Make" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price"></label>
                <input asp-for="Price" min="0" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkingRange"></label>
                <input asp-for="WorkingRange" class="form-control" />
                <span asp-validation-for="WorkingRange" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepthImageSize"></label>
                <input asp-for="DepthImageSize" class="form-control" />
                <span asp-validation-for="DepthImageSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Add 3D Scanner</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}