@model int
@{
    ViewData["Title"] = "Delete3DScanners";
}

<h2>Are you sure to delete?</h2>
<a href="/ThreeDScanners/All3DScanners" class="btn btn-default">Back</a>
<a href="/ThreeDScanners/Delete3DScanner/@Model" class="btn btn-danger">Confirm Delete</a>